@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;

    font-size: 15px;
    font-family: "Roboto", sans-serif;
}


nav img{
    width: 3vw;
}

.navbar{
    display: flex;
    flex-direction: row;  
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 28vw;
}



ul{
    display: flex;
    flex-direction: row;
    list-style: none;

}

.nosotros{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 45vw;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
       
    }
}

.others, .social{
    margin-bottom: 30px;
}

a{
    color: black;
    text-decoration: none;
    margin: 20px;
}
.container{
    
    margin-bottom: 30px;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;

}


.containertipo2{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 30px;
}
.container2{
    
    margin-bottom: 30px;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;

}

.container img{
    width: 36vw;
    height: auto;
}

.container-starbucks{
    padding: 8%;
    text-align: center;
    font-size: 19px;
    
}

#container-latte{
    background-color: #1e3932;
}

#container-favoritos{
    background-color: #0844b4;
    flex-direction: row-reverse;
}

#container-perfecto{
    background-color: #d50032;
    a{
        color: white;
    }
}

#container-recompensas{
    background-color: #1e3932;
    flex-direction: row-reverse;
}

#container-todo{
    background-color: #d50032;
}